/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1; /* Push footer to the bottom */
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  flex-shrink: 0;
}